@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;
.font-raleway{
  font-family: "Roboto", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.custom-datepicker-container .rdrCalendarWrapper{
  background-color: rgb(239, 245, 244);
}
.custom-datepicker-container .rdrCalendarWrapper .rdrMonths {
  display: flex;
 align-items: center;
font-family: "Roboto", sans-serif;
font-weight: bold;
background-color: rgb(239, 245, 244);
font-size: 16px;
}
.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Width */
  height: 50px; /* Height */
  background-color: #007bff; /* Background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 50%; /* Circle shape */
  cursor: pointer; /* Pointer cursor */
  font-size: 20px; /* Font size */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.custom-arrow:hover {
  background-color: #0056b3; /* Hover background color */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
